.mainBG {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -30%, #FFF8F8 100%, #B57474 100%);
}
.main_section {
    width: 1920px;
    margin: 0 auto;
}
.main_section__container {
    height: 910px;
    background: url("/src/resources/main_section.svg") right no-repeat;
    padding-top: 1px;
}
.main_section__content {
    margin-left: 243px;
    margin-top: 260px;
}
.main_section .text {
    font-size: 24px;
    line-height: 46px;
}
.main_section__button {
    margin: 54px 0 0 243px;
    height: 80px;
    width: 250px;
}