.mainBG {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -30%, #FFF8F8 100%, #B57474 100%);
}
.main_section {
    width: 1440px;
    margin: 0 auto;
}
.main_section__content {
    margin-top: 130px;
}
.main_section__container {
    height: 700px;
    padding-top: 1px;
    position: relative;
    margin-left: 60px;
}
.main_section__container > img {
    position: absolute;
    right: 0;
    top: 8%;
    width: 760px;
}
.main_section .text {
    font-size: 20px;
    line-height: 40px;
}
.main_section__button {
    margin-top: 54px;
    height: 80px;
    width: 250px;
}