.contagion_section {
    margin-top: 26px;
    padding-top: 25px;
    margin-bottom: 50px;
}
.contagion__content {
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contagion__content > .subtitle {
    margin-bottom: 16px;
}
.contagion__content .text {
    text-align: center;
}
.contagion__cards {
    display: flex;
    margin-top: 50px;
    position: relative;
}
.contagion__cards::before {
    content: "";
    background: url("../../resources/contagionVirus.svg");
    height: 260px;
    width: 255px;
    position: absolute;
    left: -125px;
    bottom: 5px;
}