.statistics_section {
    width: 1440px;
    height: 635px;
    margin: 0 auto;
}
.statistics_content {
    display: flex;
    justify-content: center;
}
.statistics__map > img{
    width: 650px;
    margin-top: 50px;
}
.statistics__reports {
    min-height: 300px;
    width: 400px;
    margin-left: 40px;
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    box-shadow: 0 7px 95px rgba(0, 0, 0, 0.07);
}
.statistics__reports__content {
    margin: 20px;
}
.statistics__reports__content > p {
    margin-left: 20px;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}
.statistics__reports__content > table {
    width: 360px;
    border-spacing: 0 20px;
}