.statistics_section {
    width: 1920px;
    height: 635px;
    margin: 0 auto;
}
.statistics_content {
    display: flex;
    justify-content: center;
}
.statistics__reports {
    height: 635px;
    width: 505px;
    margin-left: 40px;
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    box-shadow: 0 7px 95px rgba(0, 0, 0, 0.07);
}
.statistics__reports__content {
    margin: 55px;
}
.statistics__reports__content > p {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.statistics__reports__content > table {
    width: 395px;
    border-spacing: 0 39px;
}