.overview {
    height: 950px;
    background: url("../../resources/overview.svg") top left no-repeat;
    margin-left: 140px;
    padding-top: 1px;
}
.overview__content {
    margin: 100px 0 0 893px;
}
.overview__button {
    margin-top: 56px;
}