.overview {
    background: url("../../resources/virus.svg") 100% 115% no-repeat;
    margin-bottom: 28px;
}
.overview_section {
    margin: 0 auto;
    width: 1400px;
    height: 780px;
    display: flex;
    justify-content: space-around;
}
.overview__content {
    position: relative;
    padding-left: 140px;
    padding-top: 100px;
    margin: 80px 20px 0 0;
}
.overview__button {
    margin-top: 56px;
}
.overview__virus {
    position: absolute;
    right: 0;
    top: 40%;
    width: 171px;
    height: 340px;
}
.overview__fullvirus {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 130px;
    height: 130px;
}