.overview_section {
    width: 1920px;
    height: 700px;
    background: url("../../resources/overview.svg") top left no-repeat;
    padding-left: 140px;
    padding-top: 1px;
    position: relative;
    margin: 0 auto;
}
.overview__content {
    margin: 100px 0 0 893px;
}
.overview__button {
    margin-top: 56px;
}
.overview__virus {
    position: absolute;
    right: 0;
    top: 40%;
    width: 171px;
    height: 340px;
}
.overview__fullvirus {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 130px;
    height: 130px;
}