.symptoms_section {
    padding-top: 25px;
    margin-bottom: 30px;
}
.symptoms__content {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.symptoms__content > .title {
    margin-bottom: 6px;
}
.symptoms__content > .subtitle {
    margin-bottom: 20px;
}
.symptoms__content .text {
    text-align: center;
}
.symptoms__scheme {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 550px;
    width: 1400px;
    background: url("../../resources/SympomsBG.svg") no-repeat 50%;
    background-size: contain;
    position: relative;
}
.symptoms__scheme > img {
    position: absolute;
    left: 50%;
    transform: translateX(-52%);
    margin-top: 20px;
    height: 528px;
    width: 440px;
}
.symptom1 {
    position: absolute;
    top: 20px;
    left: 300px;
}
.symptom1::after {
    content: "";
    background: url("../../resources/symptomLine1.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 50px;
    width: 285px;
    left: 130px;
    top: 44px;
    transition: all 0.5s ease-in;
    opacity: 0;
}
.symptom1:hover::after {
    opacity: 1;
}
.symptom__circle__line1 {
    position: absolute;
    height: 166px;
    width: 70px;
    left: 47px;
    top: -15px;
}
.symptom__circle__line2 {
    position: absolute;
    height: 166px;
    width: 70px;
    left: -17px;
    top: -15px;
}
.symptom2 {
    position: absolute;
    top: 200px;
    left: 300px;
}
.symptom2::after {
    content: "";
    background: url("../../resources/symptomLine2.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 63px;
    width: 316px;
    left: 110px;
    top: -2px;
    transition: all 0.5s ease-in;
    opacity: 0;
}
.symptom2:hover::after {
    opacity: 1;
}
.symptom3 {
    position: absolute;
    top: 380px;
    left: 300px;
}
.symptom3::after {
    content: "";
    background: url("../../resources/symptomLine3.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 125px;
    width: 345px;
    left: 130px;
    top: -66px;
    transition: all 0.5s ease-in;
    opacity: 0;
}
.symptom3:hover::after {
    opacity: 1;
}
.symptom4 {
    position: absolute;
    top:20px;
    right: 300px;
}
.symptom4::before {
    content: "";
    background: url("../../resources/symptomLine4.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 40px;
    width: 218px;
    right: 130px;
    top: 44px;
    transition: all 0.5s ease-out;
    opacity: 0;
}
.symptom4:hover::before {
    opacity: 1;
}
.symptom5 {
    position: absolute;
    top: 200px;
    right: 300px;
}
.symptom5::before {
    content: "";
    background: url("../../resources/symptomLine5.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 71px;
    width: 240px;
    right: 110px;
    top: -16px;
    transition: all 0.5s ease-out;
    opacity: 0;
}
.symptom5:hover::before {
    opacity: 1;
}
.symptom6 {
    position: absolute;
    top: 380px;
    right: 300px;
}
.symptom6::before {
    content: "";
    background: url("../../resources/symptomLine6.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 44px;
    width: 183px;
    right: 125px;
    top: 44px;
    transition: all 0.5s ease-out;
    opacity: 0;
}
.symptom6:hover::before {
    opacity: 1;
}