* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #b81915;
  --title-color: #FA5652;
  --secondary-color: #035755;
}
.title {
  color: var(--title-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;
  margin-bottom: 7px;
}
.subtitle {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  text-transform: capitalize;
  margin-bottom: 26px;
}
.text {
  color: #4B4F51;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-transform: capitalize;
}