* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}
:root {
  --primary-color: #b81915;
  --title-color: #FA5652;
  --secondary-color: #035755;
}
.title {
  color: var(--title-color);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.subtitle {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
  margin-bottom: 29px;
}
.text {
  color: #4B4F51;
  font-weight: normal;
  font-size: 20px;
  line-height: 43px;
  text-transform: capitalize;
}